<div class="small-12 columns social">
  <ul class="small-block-grid-5 large-block-grid-6">
    <li>
        <a href="https://www.facebook.com/inkdroplabs" target="new"><img src="assets/facebook.png"></a>
    </li>
    <li>
        <a href="https://twitter.com/inkdroplabs" target="new"><img src="assets/twitter.png"></a>
    </li>
    <li>
        <a href="https://plus.google.com/+InkdropLabsSoftware" target="new"><img src="assets/google-plus.png"></a>
    </li>
    <li>
        <a href="https://github.com/inkdrop" target="new"><img src="assets/github.png"></a>
    </li>
    <li>
        <a href="https://bitbucket.org/inkdrop" target="new"><img src="assets/bitbucket.png"></a>
    </li>
    <li>
        <a href="mailto:contact@inkdroplabs.com"><img src="assets/email.png"></a>
    </li>
  </ul>
</div>