<div class="row social">
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-stack-2x fa-circle "></i>
      <a href="https://www.facebook.com/inkdroplabs" target="new"><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-stack-2x fa-circle "></i>
      <a href="https://twitter.com/inkdroplabs" target="new"><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-stack-2x fa-circle "></i>
      <a href="https://plus.google.com/+InkdropLabsSoftware" target="new"><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-stack-2x fa-circle "></i>
      <a href="https://github.com/inkdrop" target="new"><i class="fa fa-github-alt fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-stack-2x fa-circle "></i>
      <a href="https://bitbucket.org/inkdrop" target="new"><i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
  <div class="large-2 small-12 columns">
    <span class="fa-stack fa-2x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <a href="mailto:contact@inkdroplabs.com"><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></a>
    </span>
  </div>
</div>