<div id="title">
  <img src="/assets/inkdrop.png" width="440" height="130">

  <h2>We're passionate about software development and we'd love to give everyone a taste of what we're capable of! <i>Ad mundum meliorem</i>.</h2>

  <div class="sign-up-label">
    <p>Join our mailing list for updates and early access<br>
    <strong>Psst! The first 100 people to join will get 50% off their subscription!</strong></p>
  </div>

  <form>
    <div class="row">
      <div class="large-3 medium-3 columns">
        <input type="text" placeholder="First name">
      </div>
      <div class="large-3 medium-3 columns">
        <input type="text" placeholder="Last name">
      </div>
      <div class="large-3 medium-3 columns">
        <input type="text" placeholder="Email">
      </div>
      <a href="#" class="large-3 button">Ok, let's do this!</a>
    </div>
  </form>
</div>
