<div id="title">
  <img src="/assets/inkdrop.png" width="440" height="130">

  <h2>We're passionate about software development and we'd love to give everyone a taste of what we're capable of! <i>Ad mundum meliorem</i>.</h2>

  <div class="sign-up-label">
    <p>Join our mailing list for updates and early access<br>
    <strong>Psst! The first 100 people to join will get 50% off their subscription!</strong></p>
  </div>

  <%= form_for @mail_contact, url: {action: "create_mail_contact"} do |f| %>
    <div class="row">
      <div class="large-3 medium-3 columns">
        <%= f.text_field :first_name, :placeholder => "First name", :autofocus => "" %>
      </div>
      <div class="large-3 medium-3 columns">
        <%= f.text_field :last_name, :placeholder => "Last name" %>
      </div>
      <div class="large-3 medium-3 columns">
        <%= f.text_field :email, :placeholder => "Email" %>
      </div>
      <button type="submit" href="#" class="large-3 button">Ok, let's do this!</button>
    <div class="row">
  <% end %>
</div>
