/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

html {
  position: relative;
  height: 100%;
}

.field-with-errors {
  border: 1px red solid !important;
}

#title {
  text-align: center;
}

#title h2 {
  margin-top: 110px;
  color: #1e4c6d;
}

#title img {
  margin-top: 70px;
}

.sign-up input {
  height: 3.2rem;
  font-size: 20px;
}

.sign-up-label {
  margin-bottom: 2em;
  margin-top: 110px;
  color: #698293;
}

.sign-up-label p {
  line-height: 1.5em;
  font-size: 23px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -70px;
}

.push {
  height: 70px;
}

.footer {
  background-color: #2E2E2E;
  height: 70px;
  padding-top: 20px;
  clear: both;
}

.footer a {
  margin: 0 0 0 20px;
  color: #999;
  text-shadow: 0 1px 0 #000;
}

.footer a:hover {
  color: #737373;
}

.copyright {
  color: #999;
  text-shadow: 0 1px 0 #000;
  line-height: 2.3em;
  font-size: 14px;
}